<div class="col-xl-4 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="heading-multiple-thumbnails">Profil Bilgileri & İstatistikler</h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
            
        </div>
        <div class="card-content">
            <div class="card-body">
                
                <p>Traversal Rezervasyon Web Uygulamasının Kullanıcı Dashboard Panelinde Bulunmaktasınız. Aşağıda Sizin ve Acentamızın Bazı İstatistik Bilgileri Yer Almaktadır. Bu İstatistiklerin Sizlerle Beraber Artmasını Temenni Ediyoruz.</p>
                <h4 class="card-title">........</h4>
                <h6>Aktif Rezervasyon sayınız : 4</h6>
                <h6>Geçmiş Rezervasyon sayınız : 12</h6>
                <h6>Onay Bekleyen Rezervasyon sayınız : 1</h6>
                <h6>Toplam Rota sayınız : 16</h6>
                <h6>Rehber Sayımız : 6</h6>
                <h6>Toplam Misafir Sayımız : 1256</h6>
                <h6>Ortalama Puanımız : 8.87/10</h6>
              
            </div>
        </div>
    </div>
</div>