@using EntityLayer.Concrete
@model List<Comment>
@{
	ViewData["Title"] = "CommentUser";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yorum Listesi</h1>
<table class="table table-bordered">
	<tr>
		<th>#</th>
		<th>Rota</th>
		<th>Tarih</th>
		<th>Yorumum</th>


	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.CommentID</td>
			<td>@item.Destination.City</td>
			<td>@(((DateTime)item.CommentDate).ToString("dd-MMM-yyyy"))</td>
			<td>@item.CommentContent</td>

		</tr>
	}
</table>

